#logo {
	background-image: url(../images/randomcoder-logo-grid20.png);
	background-repeat: no-repeat;
}

DIV.error SPAN.error
{
	background-repeat: no-repeat;
	background-image: url(../images/silk/exclamation.gif);
}

DIV.globalError
{
	background-repeat: no-repeat;
	background-position: 0.5em 0.25em;
	background-image: url(../images/silk/exclamation.gif);
}

A.external {
	background-image: url(../images/silk/bullet_go.gif);	
}

A.permalink {
	background-image: url(../images/silk/bullet_key.gif);
}

/*
A.tag {
	background-image: url(../images/silk/bullet_tag.gif);
}
*/

A.add {
	background-image: url(../images/silk/bullet_add.gif);
}

A.edit {
	background-image: url(../images/silk/bullet_wrench.gif);
}

A.delete {
	background-image: url(../images/silk/bullet_delete.gif);
}

A.comment {
	background-image: url(../images/silk/comment_reverse.gif);
}

A.read-more {
	background-image: url(../images/silk/page_small.gif);	
}
