<th:block th:if="${errors.global != null}">
  <div class="globalError" th:each="err : ${errors.global}" th:text="${err}">Invalid input</div>
</th:block>

<div class="sectionHeading">Enter account details</div>
<div class="sectionContent">
  <form method="post" action="/account/create">
    <div th:class="${'fields required' + (errors.userName == null ? '' : ' error')}">
      <div>
        <th:block th:if="${errors.userName != null}">
          <span class="error" th:each="err : ${errors.userName}" th:text="${err}">error</span>
        </th:block>
      </div>
      <div>
        <label for="userName">User name:</label> <input type="text" name="userName" class="text focusFirst" id="userNameText"
          maxlength="30" th:value="${command.userName}" />
      </div>
      <div class="description">
        Enter a user name for your new account.<br /> This will be your public identity on this site.
      </div>
    </div>

    <c:set var="fieldClasses">fields required<c:if test="${status.error}"> error</c:if>
    </c:set>
    <div th:class="${'fields required' + (errors.password == null ? '' : ' error')}">
      <div>
        <th:block th:if="${errors.password != null}">
          <span class="error" th:each="err : ${errors.password}" th:text="${err}">error</span>
        </th:block>
      </div>
      <div>
        <label for="password">Password:</label> <input type="password" name="password" class="text" id="password"
          th:value="${command.password}" />
      </div>
      <div class="description">Enter a password for your account.</div>
    </div>

    <div th:class="${'fields required' + (errors.password2 == null ? '' : ' error')}">
      <div>
        <th:block th:if="${errors.password2 != null}">
          <span class="error" th:each="err : ${errors.password2}" th:text="${err}">error</span>
        </th:block>
      </div>
      <div>
        <label for="password2">Password (again):</label> <input type="password" name="password2" class="text" id="password2"
          th:value="${command.password2}" />
      </div>
      <div class="description">Enter your password again for verification.</div>
    </div>

    <div th:class="${'fields required' + (errors.emailAddress == null ? '' : ' error')}">
      <div>
        <th:block th:if="${errors.emailAddress != null}">
          <span class="error" th:each="err : ${errors.emailAddress}" th:text="${err}">error</span>
        </th:block>
      </div>
      <div>
        <label for="emailAddress">Email address:</label> <input type="text" name="emailAddress" class="text" id="emailAddress"
          maxlength="320" th:value="${command.emailAddress}" />
      </div>
      <div class="description">Enter your email address. This will not be shown publicly.</div>
    </div>

    <div th:class="${'fields' + (errors.website == null ? '' : ' error')}">
      <div>
        <th:block th:if="${errors.website != null}">
          <span class="error" th:each="err : ${errors.website}" th:text="${err}">error</span>
        </th:block>
      </div>
      <div>
        <label for="website">Web site:</label> <input type="text" name="website" class="text" id="website" maxlength="255"
          th:value="${command.website}" />
      </div>
      <div class="description">Enter the URL of your web site, if you have one.</div>
    </div>

    <div class="fields">
      <div class="buttons">
        <input type="submit" class="submit" value="Register &#187;" /> <input type="submit" class="button" name="cancel" value="Cancel" />
      </div>
    </div>

  </form>

</div>
