<a name="post-comments"></a>
<div class="sectionHeading">Comment on this article</div>
<div class="sectionContent">

  <th:block th:if="${commentsEnabled}">
    <th:block th:if="${command.anonymous}">
      <p>
        You are not currently logged in. <a th:href="@{/redirect#post-comments(url=${request.getRequestURI()})}">Login now</a> or
        post as a guest.
      </p>

      <p>
        <strong>NOTE:</strong>: All comments are subject to moderation. In addition, comments by guests will not appear until moderation
        has been completed.
      </p>
    </th:block>

    <form method="post" th:object="${command}" th:action="${request.getRequestURI() + '#post-comments'}">
      <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
      <th:block th:if="${#fields.hasErrors('global')}">
        <div class="globalError" th:each="err : ${#fields.errors('global')}" th:text="${err}">Invalid input</div>
      </th:block>

      <th:block th:if="${command.anonymous}">
        <div th:class="${'fields required' + (#fields.hasErrors('anonymousUserName') ? ' error' : '')}">
          <div>
            <th:block th:if="${#fields.hasErrors('anonymousUserName')}">
              <span class="error" th:each="err : ${#fields.errors('anonymousUserName')}" th:text="${err}">error</span>
            </th:block>
          </div>
          <div>
            <label for="anonymousUserName">Your name:</label> <input type="text" name="anonymousUserName" class="text focusFirst"
              id="anonymousUserName" maxlength="30" th:field="${command.anonymousUserName}" />
          </div>
          <div class="description">Let us know who you are.</div>
        </div>

        <div th:class="${'fields required' + (#fields.hasErrors('anonymousEmailAddress') ? ' error' : '')}">
          <div>
            <th:block th:if="${#fields.hasErrors('anonymousEmailAddress')}">
              <span class="error" th:each="err : ${#fields.errors('anonymousEmailAddress')}" th:text="${err}">error</span>
            </th:block>
          </div>
          <div>
            <label for="anonymousEmailAddress">Email address:</label> <input type="text" name="anonymousEmailAddress" class="text"
              id="anonymousEmailAddress" maxlength="320" th:field="${command.anonymousEmailAddress}" />
          </div>
          <div class="description">Enter your email address (will not be shown).</div>
        </div>

        <div th:class="${'fields' + (#fields.hasErrors('anonymousWebsite') ? ' error' : '')}">
          <div>
            <th:block th:if="${#fields.hasErrors('anonymousWebsite')}">
              <span class="error" th:each="err : ${#fields.errors('anonymousWebsite')}" th:text="${err}">error</span>
            </th:block>
          </div>
          <div>
            <label for="anonymousWebsite">Web site:</label> <input type="text" name="anonymousWebsite" class="text" id="anonymousWebsite"
              maxlength="255" th:field="${command.anonymousWebsite}" />
          </div>
          <div class="description">Enter your web site, if you have one.</div>
        </div>
      </th:block>

      <div th:class="${'fields required' + (#fields.hasErrors('title') ? ' error' : '')}">
        <div>
          <th:block th:if="${#fields.hasErrors('title')}">
            <span class="error" th:each="err : ${#fields.errors('title')}" th:text="${err}">error</span>
          </th:block>
        </div>
        <div>
          <label for="title">Title:</label> <input type="text" name="title" class="text focusFirst" id="title" maxlength="255"
            th:field="${command.title}" />
        </div>
        <div class="description">Enter a title for your comment.</div>
      </div>

      <div th:class="${'fields required' + (#fields.hasErrors('content') ? ' error' : '')}">
        <div>
          <th:block th:if="${#fields.hasErrors('content')}">
            <span class="error" th:each="err : ${#fields.errors('content')}" th:text="${err}">error</span>
          </th:block>
        </div>
        <div>
          <label for="contentArea"> Comment: </label>
          <textarea name="content" id="contentArea" cols="80" rows="7" th:field="${command.content}" />
        </div>
        <div class="description">
          Enter your comment. HTML is not allowed and will not be displayed.<br /> Be curteous. Be professional. Or don't, and face the
          consequences.
        </div>
      </div>

      <div class="fields">
        <div class="buttons">
          <input type="submit" class="submit" value="Post comment &#187;" />
        </div>
      </div>

    </form>
  </th:block>
  <p th:unless="${commentsEnabled}">Comments are closed for this post.</p>
</div>
