<a name="post-comments"></a>
<div class="sectionHeading">Comment on this article</div>
<div class="sectionContent">

  <th:block th:if="${commentsEnabled}">
    <th:block th:if="${command.anonymous}">
      <p>
        You are not currently logged in. <a th:href="${'/redirect?url=' + #uris.escapePathSegment(articlePermalink + '#post-comments')}">Login now</a> or
        post as a guest.
      </p>

      <p>
        <strong>NOTE:</strong>: All comments are subject to moderation. In addition, comments by guests will not appear until moderation
        has been completed.
      </p>
    </th:block>

    <form method="post" th:action="${articlePermalink + '#post-comments'}">
      <th:block th:if="${errors.global != null}">
        <div class="globalError" th:each="err : ${errors.global}" th:text="${err}">Invalid input</div>
      </th:block>

      <th:block th:if="${command.anonymous}">
        <div th:class="${'fields required' + (errors.anonymousUserName == null ? '' : ' error')}">
          <div>
            <th:block th:if="${errors.anonymousUserName != null}">
              <span class="error" th:each="err : ${errors.anonymousUserName}" th:text="${err}">error</span>
            </th:block>
          </div>
          <div>
            <label for="anonymousUserName">Your name:</label> <input type="text" name="anonymousUserName" class="text focusFirst"
              id="anonymousUserName" maxlength="30" th:value="${command.anonymousUserName}" />
          </div>
          <div class="description">Let us know who you are.</div>
        </div>

        <div th:class="${'fields required' + (errors.anonymousEmailAddress == null ? '' : ' error')}">
          <div>
            <th:block th:if="${errors.anonymousEmailAddress != null}">
              <span class="error" th:each="err : ${errors.anonymousEmailAddress}" th:text="${err}">error</span>
            </th:block>
          </div>
          <div>
            <label for="anonymousEmailAddress">Email address:</label> <input type="text" name="anonymousEmailAddress" class="text"
              id="anonymousEmailAddress" maxlength="320" th:value="${command.anonymousEmailAddress}" />
          </div>
          <div class="description">Enter your email address (will not be shown).</div>
        </div>

        <div th:class="${'fields' + (errors.anonymousWebsite == null ? '' : ' error')}">
          <div>
            <th:block th:if="${errors.anonymousWebsite != null}">
              <span class="error" th:each="err : ${errors.anonymousWebsite}" th:text="${err}">error</span>
            </th:block>
          </div>
          <div>
            <label for="anonymousWebsite">Web site:</label> <input type="text" name="anonymousWebsite" class="text" id="anonymousWebsite"
              maxlength="255" th:value="${command.anonymousWebsite}" />
          </div>
          <div class="description">Enter your web site, if you have one.</div>
        </div>
      </th:block>

      <div th:class="${'fields required' + (errors.title == null ? '' : ' error')}">
        <div>
          <th:block th:if="${errors.title != null}">
            <span class="error" th:each="err : ${errors.title}" th:text="${err}">error</span>
          </th:block>
        </div>
        <div>
          <label for="title">Title:</label> <input type="text" name="title" class="text focusFirst" id="title" maxlength="255"
            th:value="${command.title}" />
        </div>
        <div class="description">Enter a title for your comment.</div>
      </div>

      <div th:class="${'fields required' + (errors.content == null ? '' : ' error')}">
        <div>
          <th:block th:if="${errors.content != null}">
            <span class="error" th:each="err : ${errors.content}" th:text="${err}">error</span>
          </th:block>
        </div>
        <div>
          <label for="contentArea"> Comment: </label>
          <textarea name="content" id="contentArea" cols="80" rows="7" th:text="${command.content}">comment</textarea>
        </div>
        <div class="description">
          Enter your comment. HTML is not allowed and will not be displayed.<br /> Be curteous. Be professional. Or don't, and face the
          consequences.
        </div>
      </div>

      <div class="fields">
        <div class="buttons">
          <input type="submit" class="submit" value="Post comment &#187;" />
        </div>
      </div>

    </form>
  </th:block>
  <p th:unless="${commentsEnabled}">Comments are closed for this post.</p>
</div>
