<div class="sectionHeading">Change password</div>
<div class="sectionContent">
  <form method="post" action="/user/profile/change-password">
    <th:block th:if="${errors.global != null}">
      <div class="globalError" th:each="err : ${errors.global}" th:text="${err}">Invalid input</div>
    </th:block>

    <div th:class="${'fields required' + (errors.oldPassword == null ? '' : ' error')}">
      <div>
        <th:block th:if="${errors.oldPassword != null}">
          <span class="error" th:each="err : ${errors.oldPassword}" th:text="${err}">error</span>
        </th:block>
      </div>
      <div>
        <label for="oldPassword">Current password:</label> <input type="password" name="oldPassword" class="text focusFirst"
          id="oldPassword" maxlength="255" th:value="${command.oldPassword}" />
      </div>
      <div class="description">
        Enter your current password.<br /> Leave this field blank if you do not currently have a password.
      </div>
    </div>

    <div th:class="${'fields required' + (errors.password == null ? '' : ' error')}">
      <div>
        <th:block th:if="${errors.password != null}">
          <span class="error" th:each="err : ${errors.password}" th:text="${err}">error</span>
        </th:block>
      </div>
      <div>
        <label for="password">New password:</label> <input type="password" name="password" class="text" id="password" maxlength="255"
          th:value="${command.password}" />
      </div>
      <div class="description">Enter your new password.</div>
    </div>

    <div th:class="${'fields required' + (errors.password2 == null ? '' : ' error')}">
      <div>
        <th:block th:if="${errors.password2 != null}">
          <span class="error" th:each="err : ${errors.password2}" th:text="${err}">error</span>
        </th:block>
      </div>
      <div>
        <label for="password2">Password (again):</label> <input type="password" name="password2" class="text" id="password2"
          maxlength="255" th:value="${command.password2}" />
      </div>
      <div class="description">Enter your new password again for verification.</div>
    </div>

    <div class="fields">
      <div class="buttons">
        <input type="submit" class="submit" value="Save &#187;" /> <input type="submit" class="button" name="cancel" value="Cancel" />
      </div>
    </div>
  </form>
</div>
