<th:block th:fragment="login(error)">
  <div class="globalError" th:if="${error}">Login incorrect. Please try again.</div>

  <div class="sectionHeading">Login</div>
  <div class="sectionContent">
    <form action="/login-submit" method="post">
      <div class="fields required">
        <div>
          <label for="username">User name:</label> <input type="text" name="username" class="text focusFirst" id="username" value="" />
        </div>
      </div>
      <div class="fields required">
        <div>
          <label for="password">Password:</label> <input type="password" name="password" class="password" id="password" value="" />
        </div>
      </div>
      <div class="fields">
        <div class="checkbox">
          <label for="persist">Remember me</label> <input type="checkbox" name="remember-me" class="checkbox"
            id="persist" value="true" />
        </div>
      </div>
      <div class="fields">
        <div class="buttons">
          <input style="margin-right: 5px" type="submit" class="formSubmit" value="Login &#187;" /> <input type="button"
            class="formButton" value="Cancel" onclick="document.location.href='/logout'" />
        </div>
      </div>

      <p>
        Don't have an account? <a href="/account/create">Sign up now</a>.
      </p>

    </form>
  </div>
</th:block>
