<th:block th:object="${command}">
  <th:block th:if="${errors.global != null}">
    <div class="globalError" th:each="err : ${errors.global}" th:text="${err}">Invalid input</div>
  </th:block>
</th:block>

<div class="sectionHeading">My profile</div>
<div class="sectionSubHeading">
  <a class="edit" href="/user/profile/change-password">Change password</a> :: <a href="/">Done</a>
</div>
<div class="sectionContent">
  <form method="post" name="prefs" id="prefs" action="/user/profile">
    <div class="fields">
      <div>
        <label>User name:</label> <span class="constant" th:text="${user.userName}">user name</span>
      </div>
    </div>

    <div class="fields">
      <div>
        <label>Password:</label> <span class="constant">********</span>
      </div>
    </div>

    <div th:class="${'fields required' + (errors.emailAddress == null ? '' : ' error')}">
      <div>
        <th:block th:if="${errors.emailAddress != null}">
          <span class="error" th:each="err : ${errors.emailAddress}" th:text="${err}">error</span>
        </th:block>
      </div>
      <div>
        <label for="emailAddress">Email address:</label> <input type="text" name="emailAddress" class="text focusFirst"
          id="emailAddress" maxlength="320" th:value="${command.emailAddress}" />
      </div>
      <div class="description">Enter your email address. This will not be shown publicly.</div>
    </div>

    <div th:class="${'fields' + (errors.website == null ? '' : ' error')}">
      <div>
        <th:block th:if="${errors.website != null}">
          <span class="error" th:each="err : ${errors.website}" th:text="${err}">error</span>
        </th:block>
      </div>
      <div>
        <label for="website">Web site:</label> <input type="text" name="website" class="text" id="website" maxlength="255"
          th:value="${command.website}" />
      </div>
      <div class="description">Enter the URL of your web site, if you have one.</div>
    </div>

    <div class="fields">
      <div class="buttons">
        <input type="submit" class="submit" value="Save &#187;" /> <input type="submit" class="button" name="cancel" value="Cancel" />
      </div>
    </div>

  </form>
</div>
