<th:block th:object="${command}">
  <th:block th:if="${#fields.hasErrors('global')}">
    <div class="globalError" th:each="err : ${#fields.errors('global')}" th:text="${err}">Invalid input</div>
  </th:block>
</th:block>

<div class="sectionHeading">My profile</div>
<div class="sectionSubHeading">
  <a th:if="${user.password == null}" class="add" th:href="@{/user/profile/change-password}">Set a password</a> <a
    th:unless="${user.password == null}" class="edit" th:href="@{/user/profile/change-password}">Change password</a> :: <a
    th:href="@{/}">Done</a>
</div>
<div class="sectionContent">
  <form method="post" name="prefs" id="prefs" th:object="${command}" th:action="@{/user/profile}">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <div class="fields">
      <div>
        <label>User name:</label> <span class="constant" th:text="${user.userName}">user name</span>
      </div>
    </div>

    <div class="fields">
      <div>
        <label>Password:</label> <span th:if="${user.password == null}" class="constant">Disabled</span> <span
          th:unless="${user.password == null}" class="constant">********</span>
      </div>
    </div>

    <div th:class="${'fields required' + (#fields.hasErrors('emailAddress') ? ' error' : '')}">
      <div>
        <th:block th:if="${#fields.hasErrors('emailAddress')}">
          <span class="error" th:each="err : ${#fields.errors('emailAddress')}" th:text="${err}">error</span>
        </th:block>
      </div>
      <div>
        <label for="emailAddress">Email address:</label> <input type="text" name="emailAddress" class="text focusFirst"
          id="emailAddress" maxlength="320" th:field="${command.emailAddress}" />
      </div>
      <div class="description">Enter your email address. This will not be shown publicly.</div>
    </div>

    <div th:class="${'fields' + (#fields.hasErrors('website') ? ' error' : '')}">
      <div>
        <th:block th:if="${#fields.hasErrors('website')}">
          <span class="error" th:each="err : ${#fields.errors('website')}" th:text="${err}">error</span>
        </th:block>
      </div>
      <div>
        <label for="website">Web site:</label> <input type="text" name="website" class="text" id="website" maxlength="255"
          th:field="${command.website}" />
      </div>
      <div class="description">Enter the URL of your web site, if you have one.</div>
    </div>

    <div class="fields">
      <div class="buttons">
        <input type="submit" class="submit" value="Save &#187;" /> <input type="submit" class="button" name="cancel" value="Cancel" />
      </div>
    </div>

  </form>
</div>
