<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="nullappender" class="org.apache.log4j.varia.NullAppender" />
	<logger name="org.randomcoder">
		<level value="debug" />
	</logger>
	<root>
		<priority value="debug" />
		<appender-ref ref="nullappender" />
	</root>
</log4j:configuration>