<beans:beans
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
  		http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
			http://www.springframework.org/schema/security
			http://www.springframework.org/schema/security/spring-security-3.1.xsd">

	<beans:bean class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">
		<beans:property name="ignoreUnresolvablePlaceholders" value="false" />
	</beans:bean>
	
	<http pattern="/favicon.ico" security="none" />
	<http pattern="/css/**" security="none" />
	<http pattern="/js/**" security="none" />
	<http pattern="/images/**" security="none" />

	<http auto-config="true" use-expressions="true">
	
		<intercept-url pattern="/" access="permitAll()" />
		<intercept-url pattern="/article" access="hasRole('ROLE_MANAGE_ARTICLES') || hasRole('ROLE_POST_ARTICLES')" />
		<intercept-url pattern="/article/**" access="hasRole('ROLE_MANAGE_ARTICLES') || hasRole('ROLE_POST_ARTICLES')" />
		<intercept-url pattern="/redirect" access="isAuthenticated()" />
		<intercept-url pattern="/user/profile" access="isAuthenticated()" />
		<intercept-url pattern="/user/profile/**" access="isAuthenticated()" />
		<intercept-url pattern="/user" access="hasRole('ROLE_MANAGE_USERS')" />
		<intercept-url pattern="/user/**" access="hasRole('ROLE_MANAGE_USERS')" />
		<intercept-url pattern="/comment" access="hasRole('ROLE_MANAGE_COMMENTS')" />
		<intercept-url pattern="/comment/**" access="hasRole('ROLE_MANAGE_COMMENTS')" />
		<intercept-url pattern="/tag" access="hasRole('ROLE_MANAGE_TAGS')" />
		<intercept-url pattern="/tag/**" access="hasRole('ROLE_MANAGE_TAGS')" />
		<intercept-url pattern="/login" access="permitAll()" />
		<intercept-url pattern="/login-error" access="permitAll()" />
		<intercept-url pattern="/**" access="permitAll()" />
		
		<form-login
			default-target-url="/" 
			login-page="/login"
			authentication-failure-url="/login-error"
			login-processing-url="/login-submit"
			always-use-default-target="false"			
			username-parameter="j_username"
			password-parameter="j_password" />
			
		<logout
			logout-url="/logout"
			logout-success-url="/" />
		
		<remember-me
			key="${rememberme.key}"
			user-service-ref="randomcoderUserDetailsService" />
		
	</http>

	<authentication-manager>
		<authentication-provider user-service-ref="randomcoderUserDetailsService">
			<password-encoder hash="sha" base64="false" />
		</authentication-provider>
	</authentication-manager>
	
</beans:beans>