<div class="sectionHeading">
	<a th:href="${calendar.prevMonthLink}">&#171;</a>
	<th:block th:text="${calendar.displayedMonthText}">Feb 1977</th:block>
	<a th:href="${calendar.nextMonthLink}">&#187;</a>
</div>
<div class="sectionContent">
	<div align="center">
		<table class="calendar">
			<thead>
				<tr>
					<th abbr="Sunday" title="Sunday" scope="col" class="calendar-weekend">Su</th>
					<th abbr="Monday" title="Monday" scope="col">Mo</th>
					<th abbr="Tuesday" title="Tuesday" scope="col">Tu</th>
					<th abbr="Wednesday" title="Wednesday" scope="col">We</th>
					<th abbr="Thursday" title="Thursday" scope="col">Th</th>
					<th abbr="Friday" title="Friday" scope="col">Fr</th>
					<th abbr="Saturday" title="Saturday" scope="col" class="calendar-weekend">Sa</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="week : ${calendar.weeks}">
					<th:block th:each="day,stat : ${week.days}">
						<td th:class="${((stat.index == 0 or stat.index == 6) ? 'calendar-weekend ' : '') + (day.today ? 'calendar-today ' : '')}">
							<th:block th:if="${day.visible}">
								<th:block th:if="${day.link == null}" th:text="${day.number}" />
								<a th:title="${day.linkTitle}" th:href="${day.link}" th:unless="${day.link == null}" th:text="${day.number}" />
							</th:block> <th:block th:unless="${day.visible}">&#160;</th:block>
						</td>
					</th:block>
				</tr>
			</tbody>
		</table>
	</div>
	<div align="right">
		<a th:href="${calendar.selfLink}">Today</a>
	</div>
</div>