<th:block th:object="${command}">
	<th:block th:if="${#fields.hasErrors('global')}">
		<div class="globalError" th:each="err : ${#fields.errors('global')}" th:text="${err}">Invalid input</div>
	</th:block>
</th:block>

<div class="sectionHeading">Enter account details</div>
<div class="sectionContent">
	<form th:object="${command}" method="post" th:action="@{/account/create}">
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
		<div th:class="${'fields required' + (#fields.hasErrors('userName') ? ' error' : '')}">
			<div>
				<th:block th:if="${#fields.hasErrors('userName')}">
					<span class="error" th:each="err : ${#fields.errors('userName')}" th:text="${err}">error</span>
				</th:block>
			</div>
			<div>
				<label for="userName">User name:</label> <input type="text" name="userName" class="text focusFirst" id="userNameText"
					maxlength="30" th:field="${command.userName}" />
			</div>
			<div class="description">
				Enter a user name for your new account.<br /> This will be your public identity on this site.
			</div>
		</div>

		<c:set var="fieldClasses">fields required<c:if test="${status.error}"> error</c:if>
		</c:set>
		<div th:class="${'fields required' + (#fields.hasErrors('password') ? ' error' : '')}">
			<div>
				<th:block th:if="${#fields.hasErrors('password')}">
					<span class="error" th:each="err : ${#fields.errors('password')}" th:text="${err}">error</span>
				</th:block>
			</div>
			<div>
				<label for="password">Password:</label> <input type="password" name="password" class="text" id="password"
					th:field="${command.password}" />
			</div>
			<div class="description">Enter a password for your account.</div>
		</div>

		<div th:class="${'fields required' + (#fields.hasErrors('password2') ? ' error' : '')}">
			<div>
				<th:block th:if="${#fields.hasErrors('password2')}">
					<span class="error" th:each="err : ${#fields.errors('password2')}" th:text="${err}">error</span>
				</th:block>
			</div>
			<div>
				<label for="password2">Password (again):</label> <input type="password" name="password2" class="text" id="password2"
					th:field="${command.password2}" />
			</div>
			<div class="description">Enter your password again for verification.</div>
		</div>

		<div th:class="${'fields required' + (#fields.hasErrors('emailAddress') ? ' error' : '')}">
			<div>
				<th:block th:if="${#fields.hasErrors('emailAddress')}">
					<span class="error" th:each="err : ${#fields.errors('emailAddress')}" th:text="${err}">error</span>
				</th:block>
			</div>
			<div>
				<label for="emailAddress">Email address:</label> <input type="text" name="emailAddress" class="text" id="emailAddress"
					maxlength="320" th:field="${command.emailAddress}" />
			</div>
			<div class="description">Enter your email address. This will not be shown publicly.</div>
		</div>

		<div th:class="${'fields' + (#fields.hasErrors('website') ? ' error' : '')}">
			<div>
				<th:block th:if="${#fields.hasErrors('website')}">
					<span class="error" th:each="err : ${#fields.errors('website')}" th:text="${err}">error</span>
				</th:block>
			</div>
			<div>
				<label for="website">Web site:</label> <input type="text" name="website" class="text" id="website" maxlength="255"
					th:field="${command.website}" />
			</div>
			<div class="description">Enter the URL of your web site, if you have one.</div>
		</div>

		<div class="fields">
			<div class="buttons">
				<input type="submit" class="submit" value="Register &#187;" /> <input type="submit" class="button" name="cancel" value="Cancel" />
			</div>
		</div>

	</form>

</div>