<c:url var="formAction" value="${template.formAction}" />
<div class="sectionHeading">Change password</div>
<div class="sectionContent">
  <form method="post" th:action="@{/user/profile/change-password}" th:object="${command}">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <th:block th:if="${#fields.hasErrors('global')}">
      <div class="globalError" th:each="err : ${#fields.errors('global')}" th:text="${err}">Invalid input</div>
    </th:block>

    <div th:class="${'fields required' + (#fields.hasErrors('oldPassword') ? ' error' : '')}">
      <div>
        <th:block th:if="${#fields.hasErrors('oldPassword')}">
          <span class="error" th:each="err : ${#fields.errors('oldPassword')}" th:text="${err}">error</span>
        </th:block>
      </div>
      <div>
        <label for="oldPassword">Current password:</label> <input type="password" name="oldPassword" class="text focusFirst"
          id="oldPassword" maxlength="255" th:field="${command.oldPassword}" />
      </div>
      <div class="description">
        Enter your current password.<br /> Leave this field blank if you do not currently have a password.
      </div>
    </div>

    <div th:class="${'fields required' + (#fields.hasErrors('password') ? ' error' : '')}">
      <div>
        <th:block th:if="${#fields.hasErrors('password')}">
          <span class="error" th:each="err : ${#fields.errors('password')}" th:text="${err}">error</span>
        </th:block>
      </div>
      <div>
        <label for="password">New password:</label> <input type="password" name="password" class="text" id="password" maxlength="255"
          th:field="${command.password}" />
      </div>
      <div class="description">Enter your new password.</div>
    </div>

    <div th:class="${'fields required' + (#fields.hasErrors('password2') ? ' error' : '')}">
      <div>
        <th:block th:if="${#fields.hasErrors('password2')}">
          <span class="error" th:each="err : ${#fields.errors('password2')}" th:text="${err}">error</span>
        </th:block>
      </div>
      <div>
        <label for="password2">Password (again):</label> <input type="password" name="password2" class="text" id="password2"
          maxlength="255" th:field="${command.password2}" />
      </div>
      <div class="description">Enter your new password again for verification.</div>
    </div>

    <div class="fields">
      <div class="buttons">
        <input type="submit" class="submit" value="Save &#187;" /> <input type="submit" class="button" name="cancel" value="Cancel" />
      </div>
    </div>
  </form>
</div>
