<th:block th:fragment="login(error)">
	<div class="globalError" th:if="${error}">Login incorrect. Please try again.</div>

	<div class="sectionHeading">Login</div>
	<div class="sectionContent">
		<form th:action="@{/login-submit}" method="post">
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
			<div class="fields required">
				<div>
					<label for="username">User name:</label> <input type="text" name="j_username" class="text focusFirst" id="username" value="" />
				</div>
			</div>
			<div class="fields required">
				<div>
					<label for="password">Password:</label> <input type="password" name="j_password" class="password" id="password" value="" />
				</div>
			</div>
			<div class="fields">
				<div class="checkbox">
					<label for="persist">Remember me</label> <input type="checkbox" name="remember-me" class="checkbox"
						id="persist" value="true" />
				</div>
			</div>
			<div class="fields">
				<div class="buttons">
					<input style="margin-right: 5px" type="submit" class="formSubmit" value="Login &#187;" /> <input type="button"
						class="formButton" value="Cancel" onclick="document.location.href='/'" />
				</div>
			</div>

			<p>
				Don't have an account? <a th:href="@{/account/create}">Sign up now</a>.
			</p>

		</form>
	</div>
</th:block>