<?xml version="1.0" encoding="UTF-8"?>
<beans
		xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	
<!-- 	<bean class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer"> -->
<!-- 		<property name="ignoreUnresolvablePlaceholders" value="false" /> -->
<!-- 	</bean> -->

	<!-- TODO transitional; replace with env-specific config -->
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="ignoreResourceNotFound" value="true" />
		<property name="locations">
			<list>
				<value>classpath:/profiles/default.properties</value>
				<value>classpath:/profiles/dev.properties</value>
				<value>file:///srv/randomcoder-website/etc/randomcoder-website.conf</value>
			</list>
		</property>
	</bean>
	
	<bean id="mavenRepository" class="org.randomcoder.download.maven.LocalMavenRepository">
		<property name="url" value="https://nexus.randomcoder.org/content/repositories/releases/" />
		<property name="dir" value="${maven.repository.dir}" />
		<property name="projects">
			<list>
				<bean class="org.randomcoder.download.maven.MavenProject">
					<property name="projectName" value="randomcoder-website" />
					<property name="projectDescription" value="Randomcoder.org web site" />
					<property name="directory" value="org/randomcoder/randomcoder-website" />
					<property name="extensionMappings">
						<map>
							<entry key="-sources.jar" value="src" />
							<entry key="-src.tar.bz2" value="src" />
							<entry key="-src.tar.gz" value="src" />
							<entry key="-src.zip" value="src" />
							<entry key="-javadoc.jar" value="javadoc" />
						</map>
					</property>
				</bean>
				<bean class="org.randomcoder.download.maven.MavenProject">
					<property name="projectName" value="randomcoder-website-old" />
					<property name="projectDescription" value="Randomcoder.com web site (old version)" />
					<property name="directory" value="com/randomcoder/randomcoder-website" />
					<property name="extensionMappings">
						<map>
							<entry key="-sources.jar" value="src" />
							<entry key="-src.tar.bz2" value="src" />
							<entry key="-src.tar.gz" value="src" />
							<entry key="-src.zip" value="src" />
							<entry key="-javadoc.jar" value="javadoc" />
						</map>
					</property>
				</bean>
				<bean class="org.randomcoder.download.maven.MavenProject">
					<property name="projectName" value="randomcoder-taglibs" />
					<property name="projectDescription" value="JSP tag libraries for common website functionality" />
					<property name="directory" value="org/randomcoder/randomcoder-taglibs" />					
					<property name="extensionMappings">
						<map>
							<entry key=".jar" value="jar" />
							<entry key="-sources.jar" value="src" />
							<entry key="-src.tar.bz2" value="src" />
							<entry key="-src.tar.gz" value="src" />
							<entry key="-src.zip" value="src" />
							<entry key="-javadoc.jar" value="javadoc" />
							<entry key="-tlddoc.jar" value="tlddoc" />
						</map>
					</property>
				</bean>
				<bean class="org.randomcoder.download.maven.MavenProject">
					<property name="projectName" value="randomcoder-taglibs-old" />
					<property name="projectDescription" value="JSP tag libraries for common website functionality (old version)" />
					<property name="directory" value="com/randomcoder/randomcoder-taglibs" />					
					<property name="extensionMappings">
						<map>
							<entry key=".jar" value="jar" />
							<entry key="-sources.jar" value="src" />
							<entry key="-src.tar.bz2" value="src" />
							<entry key="-src.tar.gz" value="src" />
							<entry key="-src.zip" value="src" />
							<entry key="-javadoc.jar" value="javadoc" />
							<entry key="-tlddoc.jar" value="tlddoc" />
						</map>
					</property>
				</bean>
				<bean class="org.randomcoder.download.maven.MavenProject">
					<property name="projectName" value="randomcoder-citadel" />
					<property name="projectDescription" value="Java security framework (deprecated)" />
					<property name="directory" value="com/randomcoder/randomcoder-citadel" />					
					<property name="extensionMappings">
						<map>
							<entry key=".jar" value="jar" />
							<entry key="-sources.jar" value="src" />
							<entry key="-javadoc.jar" value="javadoc" />
						</map>
					</property>
				</bean>
			</list>
		</property>
	</bean>
	
	<!-- aggregate repositories -->	
	<bean id="packageListProducer" class="org.randomcoder.download.AggregatePackageListProducer">
		<property name="producers">
			<list>
				<ref local="cachingMavenRepository" />
			</list>
		</property>
	</bean>	
	
	<!-- caching -->	
	<bean id="cachingMavenRepository" class="org.randomcoder.download.cache.CachingPackageListProducer">
		<property name="target" ref="mavenRepository" />
		<property name="cache">
			<bean class="org.springframework.cache.ehcache.EhCacheFactoryBean">
				<property name="cacheName" value="org.randomcoder.MAVEN_REPOSITORY_CACHE" />
			</bean>
		</property>
		<property name="cacheKey" value="mavenRepository" />
	</bean>

	<!-- timer tasks to keep caches refreshed -->
	<bean id="repositoryRefreshTimer" class="org.springframework.scheduling.timer.TimerFactoryBean">
		<property name="scheduledTimerTasks">
			<list>
				<ref bean="mavenRepositoryRefreshTask" />
			</list>
		</property>
	</bean>
	
	<bean id="mavenRepositoryRefreshTask" class="org.springframework.scheduling.timer.ScheduledTimerTask">
		<property name="delay" value="30000" /> <!-- 30 seconds -->
		<property name="period" value="1800000" /> <!-- 30 minutes -->
		<property name="fixedRate" value="false" />
		<property name="timerTask">
			<bean class="org.springframework.scheduling.timer.MethodInvokingTimerTaskFactoryBean">
				<property name="targetObject" ref="cachingMavenRepository" />
				<property name="targetMethod" value="refresh" />
			</bean>
		</property>
	</bean>

</beans>
