<div class="sectionHeading">About this site</div>
<div class="sectionContent">
  <p>Welcome to the Random Coder project. The goal of this project is to provide solutions to common software develpment
    problems. Predominantly, this includes Java and related web technologies, because that is where I spend most of my time.</p>

  <p>Much of what you will find is code that I find myself writing and re-writing for nearly every project I work on. My hope is
    that others may be able to use my &quot;wheels&quot; without re-inventing their own.</p>

  <p>Great effort has been expended to clean up this code and present it in a form which should be generally usable by anyone. I
    am open to contributions, both in source and verbal form, which improve the quality and feature set of this code.</p>

  <h4>License</h4>

  <p>
    Unless otherwise specified, this site and its contents are placed under the same <a th:href="@{/legal/license}">license</a>.
  </p>

  <p>This license is a relaxed variant of the BSD license &#8212; basically, you are free to do pretty much whatever you want
    with anything you find here, provided you don't sue me. All I ask is that you give credit where credit is due.</p>

  <h4>Other credits</h4>

  <p>
    Special thanks to Per Mellqvist for his excellent article on IBM developerWorks, <a class="external"
      href="http://www-128.ibm.com/developerworks/java/library/j-genericdao.html">Don't repeat the DAO!</a> I have found this pattern
    to be invaluable.
  </p>

  <p>
    This site makes use of the <a class="external" href="http://www.famfamfam.com/lab/icons/silk/">FamFamFam Silk</a> icon set, which
    is licensed under a <a class="external" href="http://creativecommons.org/licenses/by/2.5/">Creative Commons Attribution 2.5
      License</a>.
  </p>
</div>
