<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>randomCoder : Home</title>
<th:block th:replace="head/main"></th:block>
<th:block th:replace="head/feeds"></th:block>
</head>
<body>
  <div id="header" th:include="header/default">header/default</div>

	<div id="left">
	  <div class="left" th:include="sidebar/navigation">sidebar/navigation</div>
    <div class="left" th:include="sidebar/login">sidebar/login</div>
    <div class="left" th:include="sidebar/welcome">sidebar/welcome</div>
    <div class="left" th:include="sidebar/feeds">sidebar/feeds</div>
	</div>

	<div id="content">
		<div class="content" th:include="content/article-list :: articles(summaryVisible=true)">sidebar/articles</div>
		<div class="content" th:include="content/pager">sidebar/pager</div>
	</div>

  <div id="footer" th:include="footer/default">footer/default</div>
  
	<div id="right">
		<div class="right" th:include="sidebar/calendar">sidebar/calendar</div>
	  <div class="right" th:include="sidebar/tagcloud">sidebar/tagcloud</div>
	</div>
</body>
</html>
