<?xml version="1.0" encoding="UTF-8"?>
<beans
		xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:tx="http://www.springframework.org/schema/tx"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
			http://www.springframework.org/schema/tx
			http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">

	<!-- Enforce @Required annotations -->
	<bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor" />

	<bean id="aboutController" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="legal-about" />
	</bean>

	<bean id="licenseController" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="legal-license" />
	</bean>
	
	<bean id="redirectController" class="org.randomcoder.security.RedirectController">
		<property name="commandClass" value="org.randomcoder.security.RedirectCommand" />
	</bean>
	
	<bean id="downloadController" class="org.randomcoder.download.DownloadController">
		<property name="viewName" value="download" />
		<property name="supportedMethods" value="GET" />
		<property name="packageListProducer" ref="packageListProducer" />
		<property name="commandClass" value="org.randomcoder.download.DownloadCommand" />
	</bean>
	
	<bean id="articleAddValidator" class="org.randomcoder.article.ArticleAddValidator">
		<property name="articleDao" ref="articleDao" />
		<property name="contentFilter" ref="contentFilter" />
		<property name="maximumSummaryLength" value="1000" />
	</bean>

	<bean id="articleEditValidator" class="org.randomcoder.article.ArticleEditValidator" parent="articleAddValidator" />

	<bean id="commentValidator" class="org.randomcoder.article.comment.CommentValidator">
		<property name="contentFilter" ref="contentFilter" />
	</bean>
	
	<bean id="abstractArticleListController" abstract="true">
		<property name="commandClass" value="org.randomcoder.article.ArticlePageCommand" />
		<property name="viewName" value="home" />
		<property name="articleDao" ref="articleDao" />
		<property name="defaultPageSize" value="10" />
		<property name="maximumPageSize" value="50" />
		<property name="contentFilter" ref="contentFilter" />	
		<property name="tagBusiness" ref="tagBusiness" />	
	</bean>
	
	<bean id="homeController" class="org.randomcoder.article.HomeController" parent="abstractArticleListController" />
	
	<bean id="userProfileController" class="org.randomcoder.user.UserProfileController">
		<property name="userDao" ref="userDao" />
		<property name="cardSpaceTokenDao" ref="cardSpaceTokenDao" />
		<property name="userBusiness" ref="userBusiness" />
		<property name="commandClass" value="org.randomcoder.user.UserProfileCommand" />
		<property name="certificateContext" ref="certificateContext" />
		<property name="formView" value="user-profile" />
		<property name="successView" value="user-profile-redirect" />
		<property name="cancelView" value="default" />
		<property name="cancelParamKey" value="cancel" />
		<property name="bindOnNewForm" value="true" />
		<property name="validator" ref="userProfileValidator" />
	</bean>	
	
	<bean id="userProfileValidator" class="org.randomcoder.user.UserProfileValidator">
		<property name="cardSpaceTokenDao" ref="cardSpaceTokenDao" />
	</bean>
	
	<bean id="userProfileCardSpaceDeleteController" class="org.randomcoder.user.UserProfileCardSpaceDeleteController">
		<property name="viewName" value="user-profile-redirect" />
		<property name="commandClass" value="org.randomcoder.springmvc.IdCommand" />
		<property name="userBusiness" ref="userBusiness" />
	</bean>
		
	<bean id="articleTagListController" class="org.randomcoder.article.ArticleTagListController" parent="abstractArticleListController">
		<property name="commandClass" value="org.randomcoder.article.ArticleTagPageCommand" />
		<property name="tagDao" ref="tagDao" />
		<property name="urlPrefix" value="/tags/" />
		<property name="viewName" value="article-tag-list" />
	</bean>
	
	<bean id="abstractSingleArticleController" abstract="true">
		<property name="formView" value="article-view" />
		<property name="successView" value="article-view" />
		<property name="articleDao" ref="articleDao" />
		<property name="articleBusiness" ref="articleBusiness" />
		<property name="contentFilter" ref="contentFilter" />	
		<property name="commandClass" value="org.randomcoder.article.comment.CommentCommand" />
		<property name="validator" ref="commentValidator" />
	</bean>
	
	<bean id="articleIdController" class="org.randomcoder.article.ArticleIdController" parent="abstractSingleArticleController">
		<property name="urlPrefix" value="/articles/id/" />
	</bean>

	<bean id="articlePermalinkController" class="org.randomcoder.article.ArticlePermalinkController" parent="abstractSingleArticleController">
		<property name="urlPrefix" value="/articles/" />
	</bean>

	<bean id="loginController" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="login" />
	</bean>
	
	<bean id="loginErrorController" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="login-error" />
	</bean>

	<bean id="abstractArticleController" abstract="true">
		<property name="successView" value="default" />
		<property name="cancelView" value="default" />
		<property name="cancelParamKey" value="cancel" />
		<property name="bindOnNewForm" value="true" />
		<property name="articleBusiness" ref="articleBusiness" />
		<property name="tagDao" ref="tagDao" />
	</bean>
	
	<bean id="articleAddController" class="org.randomcoder.article.ArticleAddController" parent="abstractArticleController">
		<property name="formView" value="article-add" />
		<property name="commandClass" value="org.randomcoder.article.ArticleAddCommand" />
		<property name="validator" ref="articleAddValidator" />
	</bean>

	<bean id="articleEditController" class="org.randomcoder.article.ArticleEditController" parent="abstractArticleController">
		<property name="formView" value="article-edit" />
		<property name="commandClass" value="org.randomcoder.article.ArticleEditCommand" />
		<property name="validator" ref="articleEditValidator" />
	</bean>
	
	<bean id="articleDeleteController" class="org.randomcoder.article.ArticleDeleteController">
		<property name="viewName" value="default" />
		<property name="commandClass" value="org.randomcoder.springmvc.IdCommand" />
		<property name="articleBusiness" ref="articleBusiness" />
	</bean>

	<bean id="abstractCommentStatusController" abstract="true">
		<property name="commandClass" value="org.randomcoder.springmvc.IdCommand" />
		<property name="articleBusiness" ref="articleBusiness" />
	</bean>
	
	<bean id="commentDeleteController" class="org.randomcoder.article.comment.CommentDeleteController" parent="abstractCommentStatusController" />
	<bean id="commentApproveController" class="org.randomcoder.article.comment.CommentApproveController" parent="abstractCommentStatusController" />
	<bean id="commentDisapproveController" class="org.randomcoder.article.comment.CommentDisapproveController" parent="abstractCommentStatusController" />
	
	<bean id="userAddValidator" class="org.randomcoder.user.UserAddValidator">
		<property name="userDao" ref="userDao" />
	</bean>

	<bean id="userEditValidator" class="org.randomcoder.user.UserEditValidator" parent="userAddValidator" />
	
	<bean id="changePasswordController" class="org.randomcoder.user.ChangePasswordController">
		<property name="formView" value="change-password" />
		<property name="successView" value="user-profile-redirect" />
		<property name="cancelView" value="user-profile-redirect" />
		<property name="cancelParamKey" value="cancel" />
		<property name="bindOnNewForm" value="true" />
		<property name="commandClass" value="org.randomcoder.user.ChangePasswordCommand" />
		<property name="validator" ref="changePasswordValidator" />
		<property name="userDao" ref="userDao" />
		<property name="userBusiness" ref="userBusiness" />
	</bean>

	<bean id="changePasswordValidator" class="org.randomcoder.user.ChangePasswordValidator">
		<property name="minimumPasswordLength" value="6" />
	</bean>
	
	<bean id="userListController" class="org.randomcoder.user.UserListController">
		<property name="commandClass" value="org.randomcoder.user.UserListCommand" />
		<property name="viewName" value="user-list" />
		<property name="userDao" ref="userDao" />
	</bean>
	
	<bean id="accountCreateController" class="org.randomcoder.user.AccountCreateController">
		<property name="successView" value="account-create-done" />
		<property name="cancelView" value="default" />
		<property name="cancelParamKey" value="cancel" />
		<property name="bindOnNewForm" value="true" />
		<property name="userBusiness" ref="userBusiness" />
		<property name="certificateContext" ref="certificateContext" />
		<property name="encryptionContext" ref="encryptionContext" />
		<property name="formView" value="account-create" />
		<property name="commandClass" value="org.randomcoder.user.AccountCreateCommand" />
		<property name="validator" ref="accountCreateValidator" />
	</bean>

	<bean id="accountCreateValidator" class="org.randomcoder.user.AccountCreateValidator">
		<property name="userDao" ref="userDao" />
		<property name="cardSpaceTokenDao" ref="cardSpaceTokenDao" />
	</bean>
		
	<bean id="abstractUserController" abstract="true">
		<property name="successView" value="user-list-redirect" />
		<property name="cancelView" value="user-list-redirect" />
		<property name="cancelParamKey" value="cancel" />
		<property name="bindOnNewForm" value="true" />
		<property name="userBusiness" ref="userBusiness" />
		<property name="roleDao" ref="roleDao" />
	</bean>
		
	<bean id="userAddController" class="org.randomcoder.user.UserAddController" parent="abstractUserController">
		<property name="formView" value="user-add" />
		<property name="commandClass" value="org.randomcoder.user.UserAddCommand" />
		<property name="validator" ref="userAddValidator" />
	</bean>
		
	<bean id="userEditController" class="org.randomcoder.user.UserEditController" parent="abstractUserController">
		<property name="formView" value="user-edit" />
		<property name="commandClass" value="org.randomcoder.user.UserEditCommand" />
		<property name="validator" ref="userEditValidator" />
	</bean>
			
	<bean id="userDeleteController" class="org.randomcoder.user.UserDeleteController">
		<property name="viewName" value="user-list-redirect" />
		<property name="commandClass" value="org.randomcoder.springmvc.IdCommand" />
		<property name="userBusiness" ref="userBusiness" />
	</bean>
	
	<bean id="tagAddValidator" class="org.randomcoder.tag.TagAddValidator">
		<property name="tagDao" ref="tagDao" />
	</bean>

	<bean id="tagEditValidator" class="org.randomcoder.tag.TagEditValidator" parent="tagAddValidator" />
	
	<bean id="tagListController" class="org.randomcoder.tag.TagListController">
		<property name="commandClass" value="org.randomcoder.tag.TagListCommand" />
		<property name="viewName" value="tag-list" />
		<property name="tagDao" ref="tagDao" />
	</bean>
		
	<bean id="abstractTagController" abstract="true">
		<property name="successView" value="tag-list-redirect" />
		<property name="cancelView" value="tag-list-redirect" />
		<property name="cancelParamKey" value="cancel" />
		<property name="bindOnNewForm" value="true" />
		<property name="tagBusiness" ref="tagBusiness" />
	</bean>

	<bean id="tagAddController" class="org.randomcoder.tag.TagAddController" parent="abstractTagController">
		<property name="formView" value="tag-add" />
		<property name="commandClass" value="org.randomcoder.tag.TagAddCommand" />
		<property name="validator" ref="tagAddValidator" />
	</bean>
		
	<bean id="tagEditController" class="org.randomcoder.tag.TagEditController" parent="abstractTagController">
		<property name="formView" value="tag-edit" />
		<property name="commandClass" value="org.randomcoder.tag.TagEditCommand" />
		<property name="validator" ref="tagEditValidator" />
	</bean>
		
	<bean id="tagDeleteController" class="org.randomcoder.tag.TagDeleteController">
		<property name="viewName" value="tag-list-redirect" />
		<property name="commandClass" value="org.randomcoder.springmvc.IdCommand" />
		<property name="tagBusiness" ref="tagBusiness" />
	</bean>
		
	<bean id="allAtomFeedController" class="org.randomcoder.feed.AllFeedController">
		<property name="title" value="randomCoder" />
		<property name="subtitle" value="// TODO build a better web" />
		<property name="urlPrefix" value="/feeds/atom" />
		<property name="feedGenerator" ref="atomFeedGenerator" />
		<property name="feedId" value="atom-all" />
		<property name="feedUrl" value="http://randomcoder.org/feeds/atom/all" />
		<property name="altUrl" value="http://randomcoder.org/" />
		<property name="limit" value="20" />
		<property name="articleDao" ref="articleDao" />
	</bean>

	<bean id="allRss20FeedController" class="org.randomcoder.feed.AllFeedController">
		<property name="title" value="randomCoder" />
		<property name="subtitle" value="// TODO build a better web" />
		<property name="urlPrefix" value="/feeds/rss20" />
		<property name="feedGenerator" ref="rss20FeedGenerator" />
		<property name="feedId" value="atom-all" />
		<property name="feedUrl" value="http://randomcoder.org/feeds/rss20/all" />
		<property name="altUrl" value="http://randomcoder.org/" />
		<property name="limit" value="20" />
		<property name="articleDao" ref="articleDao" />
	</bean>
	
	<bean id="handlerMapping" class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="alwaysUseFullPath" value="true" />
		<property name="mappings">
			<props>
				<prop key="/account/create">accountCreateController</prop>
				<prop key="/article/add">articleAddController</prop>
				<prop key="/article/edit">articleEditController</prop>
				<prop key="/article/delete">articleDeleteController</prop>
				<prop key="/articles/id/*">articleIdController</prop>
				<prop key="/articles/*">articlePermalinkController</prop>
				<prop key="/feeds/atom/all">allAtomFeedController</prop>
				<prop key="/feeds/rss20/all">allRss20FeedController</prop>				
				<prop key="/comment/delete">commentDeleteController</prop>
				<prop key="/comment/approve">commentApproveController</prop>
				<prop key="/comment/disapprove">commentDisapproveController</prop>
				<prop key="/download">downloadController</prop>
				<prop key="/home">homeController</prop>
				<prop key="/legal/about">aboutController</prop>
				<prop key="/legal/license">licenseController</prop>
				<prop key="/login">loginController</prop>
				<prop key="/login-error">loginErrorController</prop>
				<prop key="/redirect">redirectController</prop>
				<prop key="/tag">tagListController</prop>
				<prop key="/tag/add">tagAddController</prop>
				<prop key="/tag/edit">tagEditController</prop>
				<prop key="/tag/delete">tagDeleteController</prop>
				<prop key="/tags/*">articleTagListController</prop>
				<prop key="/user">userListController</prop>
				<prop key="/user/add">userAddController</prop>
				<prop key="/user/edit">userEditController</prop>
				<prop key="/user/delete">userDeleteController</prop>
				<prop key="/user/profile">userProfileController</prop>
				<prop key="/user/profile/change-password">changePasswordController</prop>
				<prop key="/user/profile/delete-card">userProfileCardSpaceDeleteController</prop>
			</props>
		</property>
	</bean>
    
	<bean id="xmlViewResolver" class="org.springframework.web.servlet.view.XmlViewResolver">
		<property name="order" value="0" />
		<property name="location" value="/WEB-INF/views.xml" />
	</bean>

	<bean id="jspViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp"/>
	</bean>
	
</beans>
